*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #333;
}
h1{

    margin: 1rem;
    color: #fff;
    font-size: 2.5rem;
    margin-top: 0rem;

}.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    background: linear-gradient(90deg,#3498db,#e74c3c);

    flex-wrap: wrap;
}

.box{
    width: 13vw;
    height: 13vh;
    cursor: move;
    position: relative;
    transition: background-color 0.3s ease-in-out;

}

.box:hover{
    background: linear-gradient(90deg,#2980b9,#c0392b);
}
/*.one{
    background-color: darkcyan;
}
.two{
    background-color: darkblue;
}
.three{
    background-color: darkgoldenrod;
}
.four{
    background-color: darkgray;
}
.five{
    background-color: darkgreen;
}
.six{

    background-color: darkseagreen;
}
.seven{
    background-color: darkmagenta;
}
.eight{
    background-color: darkolivegreen;
}
.nine{
    background-color: rgb(173, 204, 50);
}
.ten{
    background-color: darkkhaki;
}
.eleven{
    background-color: darkviolet;
}
.twelve{
    background-color: rgb(45, 24, 183);
}
.thriten{
    background-color: beige;
}
.forten{
    background-color: rgb(71, 42, 165);
}
.fiveten{
    background-color: black;
}
.sixten{
    background-color: darkgoldenrod;
}
.seventen{
    background-color: whitesmoke;
} 
    */